table {
    /* border: double; */
    width: 500px;
    height: 200px;
    text-align: center;
}

/* td {
    border-top: double;
    border-right: double;
} */

th {
    background-color: rgb(104, 163, 230);
}

.cell {
    /* border-top: none; */
    background-color: rgb(104, 163, 230);
}

.cell1 {
    background-color: yellow;
}

td[rowspan="3"] {
    /* border-right: none; */
    background-color: yellow;
}

td[colspan="3"] {
    /* border-right: none; */
    background-color: yellow;
}

td[colspan="2"] {
    background-color: yellow;
}